Host *
    ServerAliveInterval 60
    Compression yes
    CompressionLevel 9
    ControlMaster auto
    ControlPath /tmp/%r@%h:%p
    Cipher blowfish

# Host completion_name_here
#     HostName the_real_address
#     User foobar
# #   other config...
